.TodoList {
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 500px;
    color:black;
    border: 5px solid;
    border-color: grey;
  }
  
  .TodoList ul {
    margin-top: 2.6rem;
    list-style: none;
  }
  
  .TodoList h1 {
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .TodoList h1 span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    margin-left: 3px;
    margin-top: 0.2rem;
  }

  .TodoList button {
    padding: 0 1.3rem;
    border: none;
    background: grey;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    height: 50px;
  }
  
  .NewTodoForm button:hover {
    background: grey;
  }
  